.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.semester-p{
  display: flex;
  justify-content: space-between;
}

.seme-top{
  display: flex;
  justify-content: space-between;
}